{% extends "index.html" %}

{% block title %} files {% endblock %}

{% block head %}
{{ super() }}
{% endblock %} 

{% block content_title %}NEO - foldersss{% endblock %}
{% block content%}
          <h2>{{folder}}</h2>
           <a href="../">../ Up! </a><br><br>
				{% if filelist %}
			<form action="/wms_creator/wms" method="post">
				<table>
				<thead>
					<tr>
						<th>Select&nbsp;</th>
						<th>Foldername</th>
					</tr>
				</thead>
				<tbody>
				{% for file in filelist %}
				
					<tr>
						<td><input type="radio" value="{{file}}" name="directory"></td>
						<td><a href="{{file}}">{{file}}</a></td>
					</tr>
				{% endfor %}
				</tbody>
				</table>
				{% endif %}
				<table>
					<tr><th>Title of the WMS</th><th>Tiled?</th>
					<tr><td><input type="textarea" value="WMS_title" name="wms_title"></td>
						<td><input type="checkbox" name="tiled"></td>
					</tr>
					<tr><td><input type="submit" value="Create WMS"></td></tr>
				</table>
			</form>
{% endblock %}

</body>
</html>