{% extends "index.html" %}
{% block title %} WMS URL {% endblock %}
{% block head %}
{{ super() }}
       <script type="text/javascript">
               $(function() {
          $('#map')
          extent = new OpenLayers.Bounds(12628.0541, 308179.0423, 283594.4779, 611063.1429),
           map = new OpenLayers.Map("map", {maxExtent: new OpenLayers.Bounds(11000.0541, 290000.0423, 283594.4779, 611063.1429), maxResolution:156543, units:'meters', projection:"EPSG:28992",
            controls:[
            new OpenLayers.Control.Navigation(),
            new OpenLayers.Control.PanZoomBar(),
            new OpenLayers.Control.LayerSwitcher(),
            new OpenLayers.Control.Attribution()],
            allOverlays: true,
            });
            var wms = new OpenLayers.Layer.WMS(
            "New Wms",
            "http://babbage/cgi-bin/mapserv?map=/var/maps/{{wms_title}}.map",
            {layers: 'Lufo2008'}
            );
      
            map.addLayer(wms);            

            map.zoomToExtent(extent);
  </script>
  {% endblock %}

{% block content_title %}NEO - WMS creator{% endblock %}
{% block content %}
           <div class="map"></div>
           Open this in Qgis: http://babbage/cgi-bin/mapserv?map={{directory}}{{wms_title}}.map
          </div>
{% endblock %}

</body>
</html>